* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(135deg, #ffffff, #f9effb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.card {
    background: white;
    padding: 70px;
    border-radius: 40px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.profile-picture img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.name {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
    font-weight: 300;
}

.contact-info {
    margin-bottom: 20px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #555;
    font-size: 16px;
}

.info i {
    font-size: 18px;
    margin-right: 10px;
}

.social-media a {
    text-decoration: none;
    font-size: 22px;
    color: #555;
    margin: 0 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-media a:hover {
    transform: scale(0.2);
    color: #AB47BC;
}
